In [1]:
import os
import pandas as pd

# Caminho do arquivo (relativo ao notebook)
csv_path = os.path.join('..', 'data', 'TweetsWithTheme.csv')
print('Lendo arquivo:', csv_path)
df = pd.read_csv(csv_path)

# Ver as 5 primeiras linhas
print('\nPrimeiras 5 linhas:')
display(df.head())

# Informações sobre o dataset
print('\nShape:', df.shape)
print('Colunas:', df.columns.tolist())
print('\nInfo do dataset:')
df.info()

Lendo arquivo: ..\data\TweetsWithTheme.csv

Primeiras 5 linhas:

Primeiras 5 linhas:

,id,tweet_text,tweet_date,sentiment,query_used
0,1026606627041026050,ela vendo a família :( FUGIDINHA VERA LÚCIA,Mon Aug 06 23:11:07 +0000 2018,Negativo,vera lucia :(
1,1026266117646561281,Eu odeio o fato que muito provavelmente meu vo...,Mon Aug 06 00:38:04 +0000 2018,Negativo,ciro :(
2,1025889796097564672,"Ciro ""mita"" tanto quanto aquele outro, não que...",Sat Aug 04 23:42:42 +0000 2018,Negativo,ciro :(
3,1026960047937646598,Raiva do Bolsonaro agora :),Tue Aug 07 22:35:30 +0000 2018,Positivo,bolsonaro :)
4,1026447105932623872,Reflexos da alienação petista comandada por Lu...,Mon Aug 06 12:37:15 +0000 2018,Negativo,lula :(

Shape: (61591, 5)
Colunas: ['id', 'tweet_text', 'tweet_date', 'sentiment', 'query_used']

Info do dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61591 entries, 0 to 61590
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          61591 non-null  int64
 1   tweet_text  61591 non-null  object
 2   tweet_date  61591 non-null  object
 3   sentiment   61591 non-null  object
 4   query_used  61591 non-null  object
dtypes: int64(1), object(4)
memory usage: 2.3+ MB